<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <!-- <a ng-href="/" onclick="window.location.reload();" class="c-menu__link">Home</a> -->
  <a href="/about">About Us</a>
  <!-- <a href="https://knobull-messageboard.herokuapp.com/" target="_blank">Message Board</a> -->
  <!-- <a href="https://www.linkedin.com/company/knobull-inc/">Company Page</a> -->
  <a href="https://www.prlog.org/news/tag/knobull-com/#">Press Release</a>
  <a href="/contact">Contact</a>
  <a href="/privacy">Privacy</a>
  <a href="/resources">Resources</a>
  <!-- <a href="/studentnews">Student News</a> -->
  <a href="https://www.usnews.com/topics/subjects/students">Student News</a>
  <a href="https://www.linkedin.com/company/knobull-inc/"
    ><img src="images/Linkdein.png" width="100" alt=""
  /></a>
</div>
